{% extends "controlapp/base.html" %}
{% load crispy_forms_tags %}
{% load  staticfiles %}


<!-- this is for navigation for foreman -->

{% block foremanNav %}
<li class="nav-item ">
  <a class="nav-link" href="{% url 'absentRequest:absent_request' %}">Absent Request</a>
</li>
<li class="nav-item ">
  <a class="nav-link" href="{% url 'absentRequest:absent_viewinfo' %}">View Absent Log</a>
</li>
{% endblock %}


 <!-- this is for office navigation  -->
{% block officeNav %}
<li class="nav-item ">
  <a class="nav-link" href="{% url 'absentRequest:absent_request' %}">Request Absent</a>
</li>
<li class="nav-item ">
  <a class="nav-link" href="{% url 'absentRequest:absent_viewinfo' %}">View Absent Log</a>
</li>
{% endblock %}


<!-- regular content will load it in here  -->
{% block content %}

{% endblock %}