{% extends 'controlapp/base.html' %}

{% block title %}
  {{user.username}}
{% endblock %}

{% block customNav %}
  <li class="nav-item">
  <div class="dropdown">
    <button style='margin-right:5px' class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{ current_location_label }}
    <span class="caret"></span>
    </button>

      <ul class="dropdown-menu" style="background-color:#00012f">
        <form method="POST">
          {% csrf_token %}
              <li>
                <div class="btn-group-vertical" >
                   <button type="submit" class="btn" name="" >All Locations</button>
                    {% for location in list_locations %}
                       <button type="submit" class="btn"  name="{{ location }}" >{{ location }}</button>
                    {% endfor %}
                </div>
             </li>
        </form>
      </ul>
    </li>
  <li class="nav-item">
      <form method="POST">
          {% csrf_token %}
    <button type="submit" class="btn"  name="download_current" >Download Current</button>
  </form>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{% url 'absentRequest:absent_request' %}">Absent Report</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{% url 'vacationRequest:vacation_request' %}">Vacation Request</a>
  </li>
{% endblock %}


{% block content %}
<!-- Weather code -->
<a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/?unit=us" data-label_1="NEW YORK"
  data-label_2="WEATHER" data-theme="original">NEW YORK WEATHER</a>
<script>
  !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

<div class="container ">
  <br>
  <div class="row">
    <!--  amount of employees-->
    <div class="col-lg">
      <div class="jumbotron jumbotron-fluid">
        <h2 style="text-align: center">Current Employees {{ current_employees }}</h2>
      </div>

      <h2 style="text-align: center">Current Employees by location</h2>
      <table class=" table table table-striped table-bordered table-sm">
        <thead class="tableColor">
          <tr>
            <th scope="col"> Location </th>
            <th scope="col"> Employees </th>
          </tr>
        </thead>
        <tbody>
          {%  for location, item in current_working_locations.items %}
                <tr>
                  <td>{{ location }}</td>
                  <td>{{ item.Name }}</td>
                </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    <!--  list of devices-->
    {% if list_of_devices %}
    <div class="col-lg">
      <h5>Devices</h5>
      <table class="table table table-striped table-bordered table-sm">
        <thead class="tableColor">
          <tr>
            <th scope="col">Devices</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for device, quantity in list_of_devices.items %}
          <tr>
            <td>{{ device }}</td>
            <td>{{ quantity }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
