 <!doctype html>
 {% load  staticfiles %}

 <html lang="en">
 <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'css/SystemAdmin.css' %}">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <link rel="shortcut icon" type="image/png" href="{% static 'images/controlapp/base/favicon.ico' %}" />
   <title>Administrator</title>
 </head>

<body>
<div class="container ">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">{{user.first_name}} {{user.last_name}}</a>

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ current_location_label }}
        <span class="caret"></span>
        </button>

            <ul class="dropdown-menu">
              <form method="POST">
              {% csrf_token %}
                  <li>
                    <div class="btn-group-vertical">
                       <button type="submit" class="btn" name="" >All Locations</button>
                        {% for location in list_locations %}
                           <button type="submit" class="dropdown-item"  name="{{ location }}" >{{ location }}</button>
                       {% endfor %}
                    </div>
                 </li>
              </form>
            </ul>
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <form method="POST">
              {% csrf_token %}
        <button type="submit" class="btn"  name="download_current" >Download Current</button>
      </form>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:logout_user' %}">Log Out</a>
      </li>

    </ul>
  </div>
</nav>

<!--start section of information -->
      <br>
      <div class="row">
        <!--  amount of employees-->
        <div class="col-md">
        {% if current_location_label != "All Locations" %}
              <div class="jumbotron jumbotron-fluid">
                <h2 style="text-align: center">Current Employees {{ current_employees }}</h2>
              </div>
        {% else %}
            <div class="jumbotron ">
            <h2 style="text-align: center">Current Employees by location</h2>
              <table class=" table table table-striped table-bordered table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"> Location </th>
                    <th scope="col"> Employees </th>
                  </tr>
                </thead>
                <tbody>
                  {%  for location, item in current_working_locations.items %}
                        <tr>
                          <td>{{ location }}</td>
                          <td>{{ item.Name }}</td>
                        </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        {% endif %}
        </div>

        <!--  list of devices-->
        {% if list_of_devices %}
            <div class="col-md">
              <h5>Devices</h5>
              <table class="table table table-striped table-bordered table-dark table-sm">
                <thead class="tableColor">
                  <tr>
                    <th scope="col">Devices</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  {% for device, quantity in list_of_devices.items %}
                  <tr>
                    <td>{{ device }}</td>
                    <td>{{ quantity }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        {% endif %}
      </div>


      {% if greater_hours.data %}
        <h5> Irregular Hours </h5>
        <table class="table table table-striped table-bordered table-dark table-sm">
          <thead class="tableColor">
            <tr>
              {% for columns_labels in greater_hours.columns %}
                  <th scope="col">{{ columns_labels }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
              {% for items_in_list in greater_hours.data %}
                <tr>
                  {% for items in items_in_list %}
                        <td>{{ items }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
          </tbody>
        </table>
        <br>
      {% endif%}



  <!-- irregular_entries -->
  {% if irregular_entries %}
    <h5>Irregular Entries </h5>
    <table class="table table table-striped table-bordered table-dark table-sm">
      <thead class="tableColor">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Department</th>
          <th scope="col">Device Used</th>
          <th scope="col">Time</th>
          <th scope="col">Date</th>
          <th scope="col">Activity</th>
        </tr>
      </thead>
      <tbody>
        {% for data in irregular_entries.values %}
        <tr>
          <td>{{data.Name}}</td>
          <td>{{data.Department}}</td>
          <td>{{data.Device}}</td>
          <td>{{data.Time}}</td>
          <td>{{data.Date}}</td>
          <td>{{data.Activity}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
  {% endif%}


    {% if warning_not_today_clock_in %}
    <h5>Employees Still 'In' who didn't Clock in today</h5>
    <table class="table table table-striped table-bordered table-dark table-sm"">
      <thead class="tableColor">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Clock in</th>
          <th scope="col">Device Used</th>
        </tr>
      </thead>
      <tbody>
        {% for data in warning_not_today_clock_in.values %}
        <tr>
          <td>{{ data.Name}}</td>
          <td>{{ data.Date}}</td>
          <td>{{ data.Device}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    {% endif%}

    <!--    list of location for employees working in other places-->
  <div class="row">
    {% if current_not %}
    <div class="col-md">
    <h5>Employees in other locations </h5>
    <table class="table table table-striped table-bordered table-dark table-sm"">
      <thead class="tableColor">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Primary Department</th>
          <th scope="col">Current Department</th>
        </tr>
      </thead>
      <tbody>
        {% for data in current_not %}
        <tr>
          <td>{{ data.Name }}</td>
          <td>{{ data.Primary_Department }}</td>
          <td>{{ data.Current_Department }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  {% endif %}

  {% if primary_not %}
  <div class="col-md">
  <h5>Employees Visiting your site</h5>
  <table class="table table table-striped table-bordered table-dark table-sm"">
    <thead class="tableColor">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Primary Department</th>
        <th scope="col">Current Department</th>
      </tr>
    </thead>
    <tbody>
      {% for data in primary_not %}
      <tr>
        <td>{{ data.Name }}</td>
        <td>{{ data.Primary_Department }}</td>
        <td>{{ data.Current_Department }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endif %}
</div>

</body>
