{% extends "controlapp/base.html" %}
{% load crispy_forms_tags %}
{% load  staticfiles %}

{% block foremanNav %}
<li class="nav-item ">
  <a class="nav-link" href="{% url 'vacationRequest:vacation_request' %}">Request Vacation</a>
</li>
<li class="nav-item ">
  <a class="nav-link" href="{% url 'vacationRequest:vacation_viewinfo' %}">View requests</a>
</li>
{% endblock %}

{% block officeNav %}
<li class="nav-item ">
  <a class="nav-link" href="{% url 'vacationRequest:vacation_request' %}">Request Vacation</a>
</li>
<li class="nav-item ">
  <a class="nav-link" href="{% url 'vacationRequest:vacation_viewinfo' %}">View requests</a>
</li>
{% endblock %}