{% extends "controlapp/base.html" %}
{% load crispy_forms_tags %}
{% load  staticfiles %}

{% block title %}Vacation Request{% endblock %}

{% block foremanNav %}
<li class="nav-item ">
  <a class="nav-link" href="{% url 'vacationRequest:vacation_request' %}">Request Vacation</a>
</li>
<li class="nav-item ">
  <a class="nav-link" href="{% url 'vacationRequest:vacation_viewinfo' %}">View requests</a>
</li>

{% endblock %}

{% block content %}
<br>
<div class="container">
<div class="jumbotron ">
    <br>
    <center>
    <h2> Vacation Request </h2>
    </center>
<br>
<form method="POST">
  {% csrf_token %}
  {{ form|crispy}}
<button type="submit" class="btn btn-success">Submit</button>
</form>

</div>
</div>

{% endblock %}