<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="basic.css">
    <title></title>
     <style>
          body {background-color: red;}
          h1 {color: white; margin-left: 40px;}
     </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" style="background-color: #00012f;">
    <img src="../static/ibklogo.jpg" width="123" height="70" alt="">
</nav>

<div class="jumbotron_red", align="center">

   <h1 style="color:white">You Got a Old Drawing</h1>
    <p style="color:white"> there is an updated version </p>



    <div><h2 style="color:white">{{code}}</h2></div>
    <div><h2 style="color:white">{{Location}}</h2></div>
    <div><h2 style="color:white">{{drawcode}}</h2></div>
    <div><h2 style="color:white">{{description}}</h2></div>
    <div><h2 style="color:white">The Drawings new update is {{date_release}}</h2></div>
    <h2 style="color:white"> Please call the office</h2>
</div>




</div>

</body>
</html>