{% extends 'employees/base.html' %}

{% block content %}
<div class="main-content">
<div class="section__content section__content--p30">
<!-- --------------------------- detail Hours ----------------------------- -->
<div class="col-lg-12">
        <div class="table-responsive m-b-30">
<h2> Detail Hours </h2>
<table class="table table-borderless table-data3">
    <thead>
        <tr style="color: white;">
            {% for x in separate_time %}
                    <td>{{x}}</td>
            {% endfor  %}
        </tr>
    </thead>

        <tbody>
                {% for x in separate_time.values %}
                 <tr>
                     {% for item in x %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor  %}
        </tbody>
</table>
</div>
</div>
<br>
<!-- ------------------------------  Combine Hours  ---------------------------- -->
<div class="col-lg-12">
<div class="table-responsive m-b-30">
<h2> Total Hours Combine </h2>
<table class="table table-borderless table-data3">
    <thead>
        <tr style="color:white">
            {% for x in combine_data %}
                    <td>{{x}}</td>
            {% endfor  %}
        </tr>
    </thead>

    <tbody>
            {% for x in combine_data.values %}
                <tr>
                    {% for item in x %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor  %}
    </tbody>
</table>
</div>
</div>
</div>
</div>

{% endblock %}



