{% extends 'documents/base.html' %}
{% block content %}
<br>
{% if request.session.type == 'office' or request.session.type == 'SystemAdmin' or request.session.type == 'Foreman' %}
<table  class="table table table-striped table-bordered table-sm">
    <thead class="tableColor">
    <tr>

        <td scope="col">File Name</td>
        <td scope="col"> Date Uploaded </td>
        <td scope="col"> Download </td>
    {% if request.session.type == 'office' or request.session.type == 'SystemAdmin' %}
        <td scope="col"> Delete Document </td>
    {% endif %}
    </tr>
    </thead>
        {% for file_name in object_list %}
         <tr>
             <td>{{ file_name.file_name }}</td>
             <td>{{ file_name.uploaded_at }}</td>
             <td>
                 <a href="{{ file_name.document.url }}" class="btn btn-primary">Download</a>
             </td>
             {% if request.session.type == 'office' or request.session.type == 'SystemAdmin' %}
                 <td>
                     <form method="POST" action="{% url 'documents:delete' file_name.id %}">{% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                     </form>
                 </td>
             {% endif %}
         </tr>
        {% empty %}
            <td>No Documents Yet</td>
        {% endfor %}
</table>
{% endif %}

{% endblock %}