{% extends 'documents/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if request.session.type == 'office' or request.session.type == 'SystemAdmin' %}

<div class="jumbotron">

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="form-group col-md-6 mb-0">
        {{ form.file_name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.document|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        <button type="submit" class="btn btn-primary ">Summit</button>
      </div>
  </div>
   </div>
  </form>

{% endif %}
{% endblock %}